* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
#panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 308px;
  margin: 10px;
  padding: 10px;
}
#panel, .field-size > button {
  border: 2px solid rgb(196, 196, 196);
  border-radius: 6px;
  font-size: 24px;
  color: rgb(121, 121, 121);
}
#panel > div {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding: 3px 0;
}
.field-size > button {
  height: 36px;
  width: 36px;
  background: transparent;
  cursor: pointer;
}

span {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  color: rgb(121, 121, 121);
}

#root {
  display: grid;
  grid-gap: 3px;
}
.cell {
  border: 2px solid rgb(196, 196, 196);
  border-radius: 6px;
  transition: background-color .2s;
}
.snake-head {
  background: rebeccapurple;
}
.snake-body {
  background: green;
}
.food {
  background: orange
}


#modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 308px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: white;
}

.content, .content > button {
  border: 2px solid rgb(196, 196, 196);
  border-radius: 6px;
  font-size: 24px;
  color: rgb(121, 121, 121);
}
.content > button {
  height: 36px;
  width: 280px;
  background: transparent;
  cursor: pointer;
}
.content > div {
  padding: 5px 0;
}

button {
  border: 2px solid rgb(196, 196, 196);
  border-radius: 6px;
  font-size: 24px;
  color: rgb(121, 121, 121);
  margin-top: 10px;
  margin-bottom: 10px;
  height: 36px;
  width: 400px;
  background: transparent;
  cursor: pointer;
}

body input {
  border: 2px solid rgb(196, 196, 196);
  border-radius: 6px;
  font-size: 24px;
  color: rgb(121, 121, 121);
  margin-top: 40px;
  height: 36px;
  width: 400px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  font: Arial;
}